body {
  padding: 1rem;
}

#githubLink {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  z-index: 1000;
}

#table {
  display: flex;
}

#nameColumn {
  min-width: calc(100vw - 140px - 2rem);
  max-width: calc(100vw - 140px - 2rem);
  overflow: hidden;
}

#scrollableColumns {
  position: absolute;
  left: 140px;
  min-width: calc(100vw - 140px - 2rem);
  max-width: calc(100vw - 140px - 2rem);
  z-index: 1000;
}
