body {
  margin: 0;
  padding: 1rem;
}

#githubLink {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  z-index: 1000;
}

#table {
  position: relative;
}

thead {
  position: sticky;
  top: 0;
  background-color: pink;
}

.nameCol {
  position: sticky;
  left: 0;
}

td.nameCol {
  background-color: peachpuff;
}

th.nameCol {
  background-color: white;
}

td {
  padding: 1rem;
}
